@using Fulbo12.Core.Futbol;
@model Futbolista;
@{
    ViewData["Title"] = "Futbolista - Detalle";
}

<a asp-controller="Futbolista" asp-action="Alta" asp-route-Id="@Model.Id"></a>
<h2 class="text-center">@Model.Persona.NombreCompleto</h2>
<h5 class="text-center"> @Model.Equipo.Nombre • @Model.Tipofutbolista • @Model.Posiciones</h5>